.container{
    position: absolute;
    width: 80%;
    left: 10%;
    top: 5%;
}
#main-logo{
    display:block;
    margin-right:auto;
    margin-left:auto;
    margin-top: 5%;
}
.home-buttons{
    margin-top: 50px;
    text-align: center;

}

.modal { 
    height: 500px;
    overflow: visible
}