body{
    background-color: blanchedalmond;
}

.login-button, .register-button, .submit-button, .flower{
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

