body{
    background-color: blanchedalmond;
}

.login-button, .register-button, .submit-button, .flower{
    background-color: transparent!important;
    border-color: transparent;
    cursor: pointer;
}

.flower-description{
    font-size:20px;
}

textarea{
    background-color: aliceblue;
}

.modal{
    background-color: rgba(250, 244, 236, 0.938);
}
.modal-footer{
    background-color: rgba(250, 244, 236, 0.938)!important;
}